/* Headline */
#headline {
    height: 200px;
    padding: 10px;
    color: white
}

#headline > img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sticky + #content {
    padding-top: 70px;
}

.nav-item {
    cursor: pointer;
}

/* Coin Cards */
#contentHeader {
    text-align: center;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.coinCard {
    width: 22rem;
    /* height: 18rem; */
    margin: 10px;
}

.card-header > p {
    display: inline;
    position: absolute;
    right: 0;
}

#getAllBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* About Screen */
.jumbotron {
    width: 80%;
    margin: 0 auto;
}