/* Headline */
#headline {
    height: 200px;
    padding: 10px;
    color: white;
    /* color: #ffd24c; */
}

#headline > img {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sticky + #content {
    padding-top: 70px;
}

.nav-item {
    cursor: pointer;
}

/* Coin Cards */
#content {
    position: relative;
}

#contentHeader {
    text-align: center;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coinCard {
    width: 22rem;
    /* height: 18rem; */
    margin: 10px;
}

.card-header > p {
    display: inline;
    position: absolute;
    right: 0;
}

#getAllBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* About Screen */
.jumbotron {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#aboutImg {
    position: absolute;
    top: 20px;
    right: 100px;
}

/* In Progress */
.progress {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}

/* No code alert */
.alert {
    display: none;
    width: 20%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}